/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Begin Generic Custom CSS */

body {
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'Work-Sans', Helvetica, sans-serif;
}

p {
    line-height: 1.25;
}

header h1 {
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    padding-top: 0.75em;
}

div.one-third-column {
    display: inline-block;
    width: 29%;
    margin: 2%;
}


/* Navigation */

header {
    min-width: 40em;
    position: relative;
}

nav {
    position: absolute;
    width: 100%;
}


table {
    width: 70%;
    min-width: 40em;
    background-color: grey;
    margin: auto;
    margin-top: 1.5em;
}

ul {
    list-style:none;
}

ul li {
    display: inline-block;
    font-size: 1.5em;
    margin: 0.5em;
}

table ul {
    padding-left: 0;
    padding-right:0;
}

table tr td:nth-child(1) {
    text-align: right;
    padding-right: 4em;
}
td.right {
    text-align: left;
    padding-left: 3em;
    width: 50%;
}

li a {
    text-decoration: none;
    font-weight: 700;
}

#imgContainer {
    min-width: 40em;
    position: absolute;
    width: 100%;
    z-index: 1;
}

#imgContainer > img {
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
}

/* Hero Landing */

.hero {
    height: 100vh;
    background-image: url(https://placeimg.com/4000/2500/tech);
    background-size: cover;

}

.container {
    width: 80%;
    height: 100%;
    margin: auto;
    text-align: center;
}

.hero-content {
    text-align: center;
    padding: 40vh 0;
}

.hero-content h1 {
    font-size: 4em;
    color: white;
    font-weight: 700;
}

/* CSS styling for animated hero text */

.is-active {
    display: inline-block;
}

.is-hidden {
    display: none;
}

.out {
    display: none;
}

.highlighted {
    background-color: grey;
    color: black;
}

/* Begin Styling for About Me content */

.about-me-container {
    width: 100%;
    margin: 2em 0;

}

.about-me-text {
    display: inline-block;
    width: 45%;
    font-size: 1.175em;
    font-weight: 300;
    text-align: left;
}

.about-me-image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

.about-me-text:nth-child(1) {
    padding-right: 2em;
    margin-right: 3em;
}

.about-me-text:nth-child(2) {
    vertical-align: top;
    margin-left: 3em;
    margin-bottom: 2em;
}

/* Begin styling for portfolio content */

.portfolio {
    background-color: aliceblue;
}

.portfolio h3 {
    font-size: 2em;
    font-weight: 500;
}

.portfolio h4 {
    margin-top: 5px;
    font-size: 1.25em;
    font-style: italic;
    color: grey;
}

.portfolio p {
    margin-top: 10px;
}

.hcca h3 {
    font-size: 1.75em;
}

.portfolio img {
    border-radius: 15px;
    width: 300px;
    height: 200px;
    object-fit: contain;
}

#personal  div,
#professional div {
    vertical-align: top;
}

.darsbars img {
    background-color: white;
}

.hcca img {
    background-color: lightgray;
}

.seat-yourself img {
    background-color: rgba(139, 0, 0, 0.5);
    padding: 0 10px;
}

/* Begin styling for contact content */

.contact p {
    font-size: 1.75em;
    margin-top: 1em;
}

.contact .container {
    width: 60%
}

.email-link {
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 700;
    padding: 0.75em 1.5em;
    border: 5px solid black;
    border-radius: 15px;
}

.link-container {
    margin-top: 50px;
}
